body {
    width: 1080px;
    height: 1920px;
    background: #F5F5F5;
}

.card:hover, .card:active {
    transform: scale(1.05);
    transition: all .6s;
}

.card {
    width: 30%;
    left:70%;
    text-align: center;
    margin: 20px;
    padding: 20px;
}